.DS_Store
tglow/.DS_Store
tglow/cellprofiler/.DS_Store
tglow/cellprofiler/.DS_Store
tglow/cellprofiler/.DS_Store
**/testing/**
**/tglow_core.egg-info/**
**/__pycache__/**
**/.nextflow/**
**/work/**
**.nextflow.log*
**/psfs
